<div class="card">
        <div class="card-content">
            
            <b>Account Number:&nbsp;&nbsp;</b><%= @visit.account_number%><br>
            <b>Admission Date:&nbsp;&nbsp;</b><%= @visit.admission_date%><br>
            
        </div>
</div>
v