<p class="supertiny">&nbsp;</p>

<div id="footer" class="center-align">

  
  <div id="copy">
    Webmaster: <%= mail_to("asrikuma@cmu.edu;zilinwan@andrew.cmu.edu;vsekarja@andrew.cmu.edu", "67-373: For The Kids", class: "a-primary", encode: "javascript") %> 
    &nbsp;&nbsp;&copy 2022
  </div>

</div>