<%= stylesheet_link_tag "verification" %>
<div class="row valign-wrapper" id="topbar">
  
  <div class="col s2">
    <%= link_to(image_tag('iu.jpeg'), home_path) %>
  </div>
  <div class="col s9">
    <h3 class = "on-the-left"><%= link_to "The Children's Home of Pittsburgh", home_path, class: "a-primary" %></h3>
  </div>
  <div class="col s1">
    &nbsp;
  </div>
</div>