<div>
<h5>Enter New Patient</h5>
</div>


<div class="container">
      <div class="row">
        <div class="col s12">
          <p>&nbsp;</p>
          <%= render 'form', patient: @patient %>

          <%= yield %>

        </div>
      </div>
    
</div>



